# Node artifact files
node_modules/

# Python cache
*/__pycache__/
*.py[cod]

# Distribution / build folders
dist/
target/
.venv/
venv/

# IDEs
.vscode/
.idea/

# Secret / config files
.env
.python-version
config.json

# Logs
*.log
*.logs
jinnalyst_logs.log
jinnalyst_logs.logs

# Test files
test.ipynb
test.py
additional_metrics_test.py
TEST*.xml

# Compiled / packaged files
*.class
*.jar
*.app
*.exe
*.war

# Media
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Archives
*.zip
*.tar
*.txt
prompts/

# System files
.DS_Store
Thumbs.db

# Dependency lock
uv.lock
